In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [3]:
df = pd.read_csv("K:\DEPI\Final Project\Data\Cleaned Final.csv")
df.head()

,State,Sex,GeneralHealth,PhysicalHealthDays,MentalHealthDays,LastCheckupTime,PhysicalActivities,SleepHours,RemovedTeeth,HadHeartAttack,...,AgeCategory,HeightInMeters,WeightInKilograms,BMI,AlcoholDrinkers,HIVTesting,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear
0,Alabama,Female,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,0,8.0,0.0,0,...,Elderly (70+),1.702775,83.182065,28.566,0,0,1,0,1.0,No
1,Alabama,Female,Excellent,0.0,0.0,Within past year (anytime less than 12 months ...,0,6.0,0.0,0,...,Elderly (70+),1.600000,68.040000,26.570,0,0,0,0,0.0,No
2,Alabama,Female,Very good,2.0,3.0,Within past year (anytime less than 12 months ...,1,5.0,0.0,0,...,Seniors (55-69),1.570000,63.500000,25.610,0,0,0,0,1.0,No
3,Alabama,Female,Excellent,0.0,0.0,Within past year (anytime less than 12 months ...,1,7.0,0.0,0,...,Seniors (55-69),1.650000,63.500000,23.300,0,0,1,1,0.0,No
4,Alabama,Female,Fair,2.0,0.0,Within past year (anytime less than 12 months ...,1,9.0,0.0,0,...,Early Middle Age (35-44),1.570000,53.980000,21.770,1,0,0,1,0.0,No

In [4]:
pd.crosstab(df.HadHeartAttack,df.Sex)

Sex             Female    Male
HadHeartAttack
0               200347  171815
1                 8585   13751

In [6]:
ct = pd.crosstab(df.HadHeartAttack, df.Sex)
ct

Sex             Female    Male
HadHeartAttack
0               200347  171815
1                 8585   13751

In [ ]:
plt.figure(figsize=(8, 4))
sns.heatmap(ct, annot=True, fmt='d', cmap='Reds')
plt.title('Heart Attacks by Sex')
plt.show()

In [8]:
# Create the crosstab
heartattack_gender = pd.crosstab(df['HadHeartAttack'], df['Sex'])
print("Heart Attack by Gender Crosstab:")
heartattack_gender

Heart Attack by Gender Crosstab:

Sex             Female    Male
HadHeartAttack
0               200347  171815
1                 8585   13751

In [ ]:
# Bar chart - Count comparison
plt.figure(figsize=(10, 6))
heartattack_gender.plot(kind='bar', color=['lightblue', 'lightpink'])
plt.title('Heart Attack Prevalence by Gender - Count Comparison')
plt.xlabel('Had Heart Attack (0=No, 1=Yes)')
plt.ylabel('Number of People')
plt.legend(title='Gender')
plt.xticks(rotation=0)
plt.grid(axis='y', alpha=0.3)
plt.tight_layout()
plt.show()

In [9]:
pd.crosstab(df.HadHeartAttack,df.SleepHours)

SleepHours,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,15.0,16.0,17.0,18.0,19.0,20.0,21.0,22.0,23.0,24.0
HadHeartAttack,,,,,,,,,,,,,,,,,,,,,
0,865,1121,2452,9753,24812,80443,118247,104608,17748,8209,...,221,227,19,124,12,92,2,9,10,30
1,73,165,352,1140,1877,4518,5131,6179,1317,1003,...,44,42,2,20,1,21,0,3,2,3

In [14]:
# Create the crosstab
sleep_heart = pd.crosstab(df['SleepHours'], df['HadHeartAttack'])
sleep_heart

HadHeartAttack       0     1
SleepHours
1.0                865    73
2.0               1121   165
3.0               2452   352
4.0               9753  1140
5.0              24812  1877
6.0              80443  4518
7.0             118247  5131
8.0             104608  6179
9.0              17748  1317
10.0              8209  1003
11.0               528    75
12.0              2283   316
13.0               122    20
14.0               225    32
15.0               221    44
16.0               227    42
17.0                19     2
18.0               124    20
19.0                12     1
20.0                92    21
21.0                 2     0
22.0                 9     3
23.0                10     2
24.0                30     3

In [ ]:

# Convert to percentages by sleep hours for better comparison
sleep_heart_pct = sleep_heart.div(sleep_heart.sum(axis=1), axis=0) * 100

# Create the visualization
plt.figure(figsize=(14, 8))

# Plot 1: Heatmap of heart attack percentages by sleep hours
plt.subplot(2, 1, 1)
sns.heatmap(sleep_heart_pct.T, 
            annot=True, 
            fmt='.1f', 
            cmap='RdYlGn_r', 
            cbar_kws={'label': 'Heart Attack Rate (%)'},
            linewidths=0.5)
plt.title('Heart Attack Rate by Sleep Hours (Percentage Heatmap)', fontsize=14, fontweight='bold')
plt.ylabel('Had Heart Attack\n(0=No, 1=Yes)')
plt.xlabel('Sleep Hours per Night')
plt.yticks(rotation=0)

In [15]:
#44.4% FROM PEOPLE WHO HAVE ANGINA HAD HEART ATTACKS
pd.crosstab(df.HadHeartAttack,df.HadAngina)

HadAngina            0      1
HadHeartAttack
0               358859  13303
1                11721  10615

In [17]:
ct = pd.crosstab(df.HadHeartAttack, df.HadAngina)
ct

HadAngina            0      1
HadHeartAttack
0               358859  13303
1                11721  10615

In [ ]:

 # Sum across both conditions
total_counts = ct.sum()

plt.figure(figsize=(8, 8))
total_counts.plot.pie(autopct='%1.1f%%', colors=['lightcoral', 'lightblue'])
plt.title('Overall Angina Distribution')
plt.ylabel('')  # Remove ylabel
plt.show()

In [18]:
#Depressive disorder has almost no effect on heart attack rate
pd.crosstab(df.HadHeartAttack,df.HadDepressiveDisorder)

HadDepressiveDisorder       0      1
HadHeartAttack
0                      294965  77197
1                       16639   5697

In [ ]:
fig, (ax1, ax2) = plt.subplots(1, 2, figsize=(12, 5))

# Get the actual values from your data
heart_attack_values = df['HadHeartAttack'].unique()
depressive_values = df['HadDepressiveDisorder'].unique()

# Use the first value as "Yes" equivalent, second as "No" equivalent
ct.loc[heart_attack_values[0]].plot.pie(ax=ax1, autopct='%1.1f%%', colors=['lightcoral', 'lightblue'])
ax1.set_title(f'Depressive Disorder - {heart_attack_values[0]} Heart Attack')

ct.loc[heart_attack_values[1]].plot.pie(ax=ax2, autopct='%1.1f%%', colors=['lightcoral', 'lightblue'])
ax2.set_title(f'Depressive Disorder - {heart_attack_values[1]} Heart Attack')

plt.tight_layout()
plt.show()

In [19]:
# people who have diabetes has 336% higher chance of having heart attack
pd.crosstab(df.HadHeartAttack,df.HadDiabetes)

HadDiabetes          0      1
HadHeartAttack
0               325221  46941
1                14601   7735

In [ ]:
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

 # Create crosstab
ct = pd.crosstab(df.HadHeartAttack, df.HadDiabetes)

# Interactive bar chart
fig = px.bar(ct, barmode='group', title='Heart Attack vs Diabetes')
fig.update_layout(
    xaxis_title='Had Heart Attack',
    yaxis_title='Count',
    legend_title='Had Diabetes'
)
fig.show()

In [ ]:
fig = px.imshow(ct, 
                text_auto=True,
                color_continuous_scale='Blues',
                title='Heart Attack vs Diabetes - Heatmap')
fig.update_xaxes(title='Had Diabetes')
fig.update_yaxes(title='Had Heart Attack')
fig.show()

In [20]:
pd.crosstab(df.HighRiskLastYear,df.HadDiabetes)

HadDiabetes            0      1
HighRiskLastYear
No                323907  53406
Yes                15915   1270

In [22]:
 # Create crosstab
ct = pd.crosstab(df.HighRiskLastYear, df.HadDiabetes)
ct

HadDiabetes            0      1
HighRiskLastYear
No                323907  53406
Yes                15915   1270

In [ ]:

# Interactive bar chart
fig = px.bar(ct, barmode='group', 
             title='High Risk Last Year vs Diabetes',
             labels={'value': 'Count', 'HighRiskLastYear': 'High Risk Last Year'})
fig.update_layout(
    xaxis_title='High Risk Last Year',
    yaxis_title='Count', 
    legend_title='Had Diabetes'
)
fig.show()

In [23]:
pd.crosstab(df.HighRiskLastYear,df.TetanusLast10Tdap)

TetanusLast10Tdap     0.0     1.0
HighRiskLastYear
No                 115043  262270
Yes                  4941   12244

In [ ]:
# Convert to percentages
ct_pct = ct.div(ct.sum(axis=1), axis=0) * 100

fig = px.bar(ct_pct, barmode='stack',
             title='High Risk Last Year vs Tetanus Vaccination (%)',
             labels={'value': 'Percentage', 'HighRiskLastYear': 'High Risk Last Year'})
fig.update_layout(
    xaxis_title='High Risk Last Year',
    yaxis_title='Percentage',
    legend_title='Tetanus Vaccination'
)
fig.show()

In [ ]:
fig = make_subplots(rows=1, cols=2,
                    specs=[[{'type':'domain'}, {'type':'domain'}]],
                    subplot_titles=['High Risk', 'Not High Risk'])

fig.add_trace(go.Pie(labels=ct.columns, values=ct.iloc[0], hole=0.4), 1, 1)
fig.add_trace(go.Pie(labels=ct.columns, values=ct.iloc[1], hole=0.4), 1, 2)

fig.update_traces(hoverinfo='label+percent+value')
fig.update_layout(title_text="Tetanus Vaccination by High Risk Status")
fig.show()

In [24]:
pd.crosstab(df.HighRiskLastYear,df.FluVaxLast12)

FluVaxLast12           0       1
HighRiskLastYear
No                174901  202412
Yes                10677    6508

In [25]:
pd.crosstab(df.HighRiskLastYear,df.HIVTesting)

HIVTesting             0       1
HighRiskLastYear
No                260265  117048
Yes                 6578   10607

In [26]:
pd.crosstab(df.PhysicalActivities,df.HadHeartAttack)

HadHeartAttack           0      1
PhysicalActivities
0                    85078   8617
1                   287084  13719

In [ ]:
plt.figure(figsize=(12,8))
sns.countplot(x='HadDiabetes',hue="HadHeartAttack",data=df,palette=['#1CA53B',"red"])
plt.legend(["didn't have heart attack","Had heart attack"])
plt.title("Heart attack frequency for people who had diabetes")
plt.xlabel("had diabetes")
plt.ylabel("heart attack")
plt.show()

In [ ]:
#people of older age face higher risk of heart attacks
plt.figure(figsize=(12,8))
sns.countplot(x='AgeCategory',hue="HadHeartAttack",data=df,palette=['#1CA53B',"red"])
plt.legend(["didn't have heart attack","Had heart attack"])
plt.title("Heart attack frequency for people of different age groups")
plt.xlabel("AGE")
plt.ylabel("heart attack")
plt.show()

In [ ]:
#people of older age face higher risk of heart attacks
plt.figure(figsize=(12,8))
sns.countplot(x='AgeCategory',hue="HadStroke",data=df,palette=['#1CA53B',"red"])
plt.legend(["didn't have stroke","Had stroke"])
plt.title("stroke probability for people of different age groups")
plt.xlabel("AGE")
plt.ylabel("stroke")
plt.show()

In [27]:
#higher probability of heart attack for smokers
pd.crosstab(df.SmokerStatus,df.HadHeartAttack)

HadHeartAttack                              0     1
SmokerStatus
Current smoker - now smokes every day   30963  3004
Current smoker - now smokes some days   12055   913
Former smoker                           99237  9336
Never smoked                           229907  9083

In [29]:
crosstab_data = pd.crosstab(df.SmokerStatus,df.HadHeartAttack)
crosstab_data

HadHeartAttack                              0     1
SmokerStatus
Current smoker - now smokes every day   30963  3004
Current smoker - now smokes some days   12055   913
Former smoker                           99237  9336
Never smoked                           229907  9083

In [ ]:
plt.figure(figsize=(8, 6))
sns.heatmap(crosstab_data, annot=True, fmt='d', cmap='Reds', cbar_kws={'label': 'Count'})
plt.title('Smoking Status vs Heart Attacks - Heatmap', fontsize=16, fontweight='bold')
plt.xlabel('Had Heart Attack (0=No, 1=Yes)')
plt.ylabel('Smoking Status')
plt.tight_layout()
plt.show()

In [30]:
df['GeneralHealth'].value_counts(normalize=True) * 100

GeneralHealth
Very good    33.919564
Good         32.180138
Excellent    15.918965
Fair         13.598548
Poor          4.382785
Name: proportion, dtype: float64

In [ ]:
plt.figure(figsize=(6,6))
df['GeneralHealth'].value_counts(normalize=True).mul(100).plot(kind='pie',autopct='%.1f%%',
    startangle=90,
    colors=sns.color_palette('Set1'))
plt.title('General Health Distribution', fontsize=16, fontweight='bold')
plt.ylabel('')
plt.show()

In [33]:
diseases = ['HadDiabetes', 'HadHeartAttack', 'HadStroke', 'HadDepressiveDisorder']
(df[diseases] == 1).mean() * 100

HadDiabetes              13.859639
HadHeartAttack            5.661879
HadStroke                 4.335383
HadDepressiveDisorder    21.012527
dtype: float64

In [34]:
df.groupby('GeneralHealth')['SleepHours'].mean().sort_values(ascending=False)

GeneralHealth
Excellent    7.154124
Very good    7.082952
Good         6.987365
Fair         6.877120
Poor         6.806651
Name: SleepHours, dtype: float64

In [ ]:
sleep_df = df.groupby('GeneralHealth')['SleepHours'].mean().reset_index()
sleep_df.columns = ['GeneralHealth', 'AverageSleepHours']
colors = ['green', 'lightgreen', 'gold', 'orange', 'red']
fig = px.bar(
    sleep_df,
    x='GeneralHealth',
    y='AverageSleepHours',
    title='Average Sleep Hours by General Health Status',
    labels={'AverageSleepHours': 'Average Sleep Hours', 'GeneralHealth': 'General Health'},
    color='GeneralHealth',
    color_discrete_map=dict(zip(sleep_df['GeneralHealth'].unique(), colors))
)

fig.update_layout(
    showlegend=False,
    xaxis=dict(tickangle=-45),
    title=dict(font=dict(size=14, weight='bold')),
    xaxis_title=dict(font=dict(size=12)),
    yaxis_title=dict(font=dict(size=14)),
    width=800,
    height=600
)

fig.show()

In [35]:
df.groupby('GeneralHealth')['BMI'].mean().sort_values(ascending=False)

GeneralHealth
Fair         30.640879
Poor         30.473171
Good         29.490518
Very good    27.713930
Excellent    26.215135
Name: BMI, dtype: float64

In [ ]:
bmi_by_health = df.groupby('GeneralHealth')['BMI'].mean().sort_values(ascending=False)

colors = ['green', 'lightgreen', 'gold', 'orange', 'red'] 
plt.figure(figsize=(10, 6))
bars = plt.bar(bmi_by_health.index, bmi_by_health.values, color=colors, edgecolor='black')
plt.title('Average BMI by General Health Status', fontsize=14, fontweight='bold')
plt.xlabel('General Health', fontsize=12)
plt.ylabel('Average BMI', fontsize=12)
plt.xticks(rotation=45)
for bar in bars:
    height = bar.get_height()
    plt.text(bar.get_x() + bar.get_width()/2., height,
             f'{height:.1f}',ha='center', va='bottom', fontweight='bold')
plt.axhline(y=18.5, color='blue', linestyle='--', alpha=0.9, label='Underweight')
plt.axhline(y=25, color='green', linestyle='--', alpha=0.9, label='Normal')
plt.axhline(y=30, color='orange', linestyle='--', alpha=0.9, label='Obese')

plt.legend()
plt.grid(axis='y', alpha=0.2)
plt.tight_layout()
plt.show()

In [36]:
df.groupby('PhysicalActivities')['MentalHealthDays'].mean()

PhysicalActivities
0    5.881616
1    3.830677
Name: MentalHealthDays, dtype: float64

In [ ]:
mental_by_activity = df.groupby('PhysicalActivities')['MentalHealthDays'].mean()

plt.figure(figsize=(8, 6))
bars = plt.bar(mental_by_activity.index, mental_by_activity.values, 
               color=['red', 'blue'], alpha=0.7, edgecolor='black')
plt.title('Average Mental Health Days by Physical Activity', fontsize=14, fontweight='bold')
plt.xlabel('Physical Activity (0=No, 1=Yes)', fontsize=12)
plt.ylabel('Average Mental Health Days', fontsize=12)
for bar in bars:
    height = bar.get_height()
    plt.text(bar.get_x() + bar.get_width()/2., height,
             f'{height:.1f} days',
             ha='center', va='bottom', fontweight='bold', fontsize=11)
plt.grid(axis='y', alpha=0.3)
plt.tight_layout()
plt.show()

In [37]:
df.groupby('Sex')['SmokerStatus'].value_counts(normalize=True).unstack().fillna(0) * 100

SmokerStatus,Current smoker - now smokes every day,Current smoker - now smokes some days,Former smoker,Never smoked
Sex,,,,
Female,8.217028,2.926790,24.877951,63.978232
Male,9.052844,3.693026,30.498583,56.755548

In [ ]:
ct = df.groupby('Sex')['SmokerStatus'].value_counts(normalize=True).unstack().fillna(0) * 100
fig = px.bar(ct, barmode='group',  title='Smoking Status by Gender (%)',labels={'value': 'Percentage', 'Sex': 'Gender'})
fig.update_layout(
    xaxis_title='Gender',
    yaxis_title='Percentage (%)', 
    legend_title='Smoking Status')
fig.show()

In [38]:
df.groupby('AgeCategory')['BMI'].mean()

AgeCategory
Early Middle Age (35-44)    29.261333
Elderly (70+)               27.634406
Late Middle Age (45-54)     29.758622
Seniors (55-69)             29.049268
Young Adults (18-34)        27.575412
Name: BMI, dtype: float64

In [ ]:
bmi_by_age = df.groupby('AgeCategory')['BMI'].mean().reset_index()

fig = px.line(bmi_by_age, x='AgeCategory', y='BMI',
              title='Average BMI by Age Category',markers=True,line_shape='linear')
fig.update_layout(
    xaxis_title='Age Category',
    yaxis_title='Average BMI',
    xaxis={'categoryorder': 'array', 'categoryarray': sorted(bmi_by_age['AgeCategory'])}
)
fig.show()

In [39]:
df[['SleepHours', 'MentalHealthDays']].corr()

                  SleepHours  MentalHealthDays
SleepHours          1.000000         -0.125897
MentalHealthDays   -0.125897          1.000000

In [ ]:
fig = px.scatter(df, 
    x='SleepHours', 
    y='MentalHealthDays', trendline='ols',
    title='Relationship Between Sleep Hours and Mental Health Days',
    labels={'SleepHours': 'Sleep Hours', 'MentalHealthDays': 'Mental Health Days'},
    color='SleepHours')
fig.update_traces(hovertemplate='Sleep: %{x} hrs<br>Mental Days: %{y}<extra></extra>')
fig.show()

In [40]:
df[['BMI', 'PhysicalHealthDays']].corr()

                         BMI  PhysicalHealthDays
BMI                 1.000000            0.109028
PhysicalHealthDays  0.109028            1.000000

In [ ]:
df['BMI_Category'] = pd.cut(df['BMI'], bins=[0, 18.5, 25, 30, 100],
labels=['Underweight', 'Normal', 'Overweight', 'Obese'])
fig = px.box(
    df,
    x='BMI_Category',
    y='PhysicalHealthDays',
    color='BMI_Category',
    title='Physical Health Days by BMI Category',
    labels={'BMI_Category': 'BMI Category', 'PhysicalHealthDays': 'Physical Health Days'})
fig.show()

In [42]:
(df[df['HadDiabetes'] == 1]
 .groupby('AgeCategory')['HadDiabetes']
 .count() / df.groupby('AgeCategory')['HadDiabetes'].count()) * 100

AgeCategory
Early Middle Age (35-44)     5.526737
Elderly (70+)               21.738615
Late Middle Age (45-54)     11.725878
Seniors (55-69)             18.296590
Young Adults (18-34)         1.858590
Name: HadDiabetes, dtype: float64

In [44]:
df[df['GeneralHealth'] == 'Poor']['BMI'].mean()

np.float64(30.473170734528626)

In [ ]:
plt.figure(figsize=(8,5))
sns.barplot(data=df, x='GeneralHealth', y='BMI', hue='GeneralHealth', errorbar=None, palette='Set2', legend=False)
plt.title('Average BMI by General Health')
plt.xlabel('General Health')
plt.ylabel('Average BMI')
plt.xticks(rotation=30)
plt.tight_layout()
plt.show()

In [43]:
pd.crosstab(df.HadHeartAttack, df.HadDiabetes, normalize='columns') * 100

HadDiabetes             0          1
HadHeartAttack
0               95.703339  85.853025
1                4.296661  14.146975

In [46]:
ct = pd.crosstab(df.HadHeartAttack, df.HadDiabetes, normalize='columns') * 100
ct

HadDiabetes             0          1
HadHeartAttack
0               95.703339  85.853025
1                4.296661  14.146975

In [ ]:
ct_df = ct.reset_index()
ct_df = ct_df.melt(id_vars='HadHeartAttack',var_name='HadDiabetes', value_name='Percentage')
fig = px.bar(ct_df,
             x='HadHeartAttack',y='Percentage', color='HadDiabetes', barmode='group',
             title='Heart Attack vs Diabetes')
fig.update_layout(
    xaxis_title='Had Heart Attack',
    yaxis_title='Percentage',
    legend_title='Had Diabetes')
fig.show()

In [47]:
pd.crosstab(df.HadHeartAttack, df.Sex, normalize='columns') * 100

Sex                Female       Male
HadHeartAttack
0               95.891008  92.589699
1                4.108992   7.410301

In [ ]:
ct = pd.crosstab(df.HadHeartAttack, df.Sex, normalize='columns') * 100
ct_df = ct.reset_index()
ct_df = ct_df.melt(id_vars='HadHeartAttack', 
                   var_name='Sex', 
                   value_name='Percentage')
ct_df['HeartAttack_Label'] = ct_df['HadHeartAttack'].map({0: 'No', 1: 'Yes'})
fig = px.bar(ct_df, x='HeartAttack_Label',y='Percentage', color='Sex',
             barmode='group',
             title='Heart Attack vs Gender')
fig.update_layout(  xaxis_title='Had Heart Attack',
    yaxis_title='Percentage',legend_title='Gender'
)
fig.show()

In [48]:
pd.crosstab(df.HadStroke, df.HadHeartAttack, normalize='columns') * 100

HadHeartAttack          0          1
HadStroke
0               96.567892  80.614255
1                3.432108  19.385745

In [ ]:
ct = pd.crosstab(df.HadStroke, df.HadHeartAttack, normalize='columns') * 100
ct_df = ct.reset_index()
ct_df = ct_df.melt(id_vars='HadStroke', 
                   var_name='HadHeartAttack',value_name='Percentage')
ct_df['Stroke_Label'] = ct_df['HadStroke'].map({0: 'No', 1: 'Yes'})
ct_df['HeartAttack_Label'] = ct_df['HadHeartAttack'].map({0: 'No', 1: 'Yes'})
fig = px.bar(ct_df,x='HeartAttack_Label',y='Percentage',
             color='Stroke_Label',barmode='group',
             title='Stroke Prevalence by Heart Attack Status (%)',
             text=ct_df['Percentage'].apply(lambda x: f'{x:.1f}%'))
fig.update_layout( xaxis_title='Had Heart Attack',
    yaxis_title='Percentage (%)',  legend_title='Had Stroke'
)
fig.show()

In [49]:
pd.crosstab(df.HadAsthma, df.SmokerStatus, normalize='columns') * 100

SmokerStatus,Current smoker - now smokes every day,Current smoker - now smokes some days,Former smoker,Never smoked
HadAsthma,,,,
0,81.782318,82.433683,84.262201,85.653793
1,18.217682,17.566317,15.737799,14.346207

In [ ]:
ct = pd.crosstab(df.HadAsthma, df.SmokerStatus, normalize='columns') * 100
ct_df = ct.reset_index()
ct_df = ct_df.melt(id_vars='HadAsthma',  var_name='SmokerStatus', value_name='Percentage')
fig = px.bar(ct_df,
             y='SmokerStatus',x='Percentage',color='HadAsthma',orientation='h',barmode='group',
            title='Asthma vs Smoking Status')
fig.update_layout(
    yaxis_title='Smoker Status',
    xaxis_title='Percentage',)
fig.show()

In [50]:
pd.crosstab(df.HadDepressiveDisorder, df.PhysicalActivities, normalize='columns') * 100

PhysicalActivities             0          1
HadDepressiveDisorder
0                      73.089279  80.824659
1                      26.910721  19.175341

In [ ]:
cross_tab = pd.crosstab(df['HadDepressiveDisorder'], df['PhysicalActivities'], normalize='columns') * 100
cross_tab_reset = cross_tab.reset_index().melt(id_vars='HadDepressiveDisorder', var_name='PhysicalActivities', value_name='Percentage')

fig = px.bar(
    cross_tab_reset,
    x='PhysicalActivities',
    y='Percentage',
    color='HadDepressiveDisorder',
    barmode='group',
    title='Relation between Physical Activities and Depressive Disorder (%)',
    text='Percentage',
    color_discrete_sequence=px.colors.qualitative.Set2
)

fig.update_traces(texttemplate='%{text:.1f}%', textposition='outside')
fig.update_layout(yaxis_title='Percentage (%)', xaxis_title='Physical Activities', plot_bgcolor='white', font=dict(size=14))
fig.show()

In [51]:
pd.crosstab(df.HadCOPD, df.SmokerStatus, normalize='columns') * 100

SmokerStatus,Current smoker - now smokes every day,Current smoker - now smokes some days,Former smoker,Never smoked
HadCOPD,,,,
0,77.042424,84.74707,87.358736,96.517428
1,22.957576,15.25293,12.641264,3.482572

In [ ]:
cross_tab = pd.crosstab(df['HadCOPD'], df['SmokerStatus'], normalize='columns') * 100
cross_tab_reset = cross_tab.reset_index().melt(id_vars='HadCOPD', var_name='SmokerStatus', value_name='Percentage')

fig = px.bar(
    cross_tab_reset,
    x='SmokerStatus',
    y='Percentage',
    color='HadCOPD',
    barmode='group',
    title='Relation between Smoker Status and COPD (%)',
    text='Percentage',
    color_discrete_sequence=px.colors.qualitative.Pastel1  
)

fig.update_traces(
    texttemplate='%{text:.1f}%',
    textposition='inside',
    insidetextanchor='middle'
)

fig.update_layout(
    title_font=dict(size=20, family='Arial', color='#333'),
    xaxis_title='Smoker Status',
    yaxis_title='Percentage (%)',
    plot_bgcolor='#f9f9f9',
    paper_bgcolor='white',
    font=dict(size=14, color='#333'),
    bargap=0.25,
    showlegend=True,
    legend_title_text='Had COPD',
    title_x=0.5  
)

fig.show()

In [52]:
pd.crosstab(pd.cut(df.BMI, bins=[0,18.5,25,30,35,100], labels=['Underweight','Normal','Overweight','Obese','Severe Obese']), 
            df.HadDiabetes, normalize='columns') * 100

HadDiabetes           0          1
BMI
Underweight    1.731495   0.652937
Normal        29.839151  12.983759
Overweight    40.137189  35.801814
Obese         17.146330  25.526739
Severe Obese  11.145835  25.034750

In [ ]:
bmi_bins = pd.cut(
    df['BMI'],
    bins=[0, 18.5, 25, 30, 35, 100],
    labels=['Underweight', 'Normal', 'Overweight', 'Obese', 'Severe Obese']
)

cross_tab = pd.crosstab(bmi_bins, df['HadDiabetes'], normalize='columns') * 100
cross_tab_reset = cross_tab.reset_index().melt(id_vars='BMI', var_name='HadDiabetes', value_name='Percentage')

fig = px.bar(
    cross_tab_reset,
    x='BMI',
    y='Percentage',
    color='HadDiabetes',
    barmode='stack',
    title='Relation between BMI Category and Diabetes (%)',
    text='Percentage',
    color_discrete_sequence=['#2E86AB', '#F4B400']
)

fig.update_traces(texttemplate='%{text:.1f}%', textposition='inside')
fig.update_layout(
    yaxis_title='Percentage (%)',
    xaxis_title='BMI Category',
    plot_bgcolor='white',
    font=dict(size=14),
    xaxis_tickangle=0,
    legend_title_text='Had Diabetes'
)

fig.show()

In [53]:
pd.crosstab(df.PhysicalActivities, df.GeneralHealth, normalize='index') * 100

GeneralHealth       Excellent       Fair       Good       Poor  Very good
PhysicalActivities
0                    7.761353  24.180586  35.729761  11.032606  21.295693
1                   18.459922  10.302424  31.074491   2.311480  37.851684

In [ ]:
cross_tab = pd.crosstab(df['PhysicalActivities'], df['GeneralHealth'], normalize='index') * 100
cross_tab_reset = cross_tab.reset_index().melt(id_vars='PhysicalActivities', var_name='GeneralHealth', value_name='Percentage')

fig = px.bar(
    cross_tab_reset,
    x='PhysicalActivities',
    y='Percentage',
    color='GeneralHealth',
    barmode='stack',
    title='General Health Distribution by Physical Activity (%)',
    text='Percentage',
    color_discrete_sequence=px.colors.qualitative.Set2
)

fig.update_traces(texttemplate='%{text:.1f}%', textposition='inside')
fig.update_layout(
    yaxis_title='Percentage (%)',
    xaxis_title='Physical Activities',
    plot_bgcolor='white',
    font=dict(size=14),
    xaxis_tickangle=0,
    legend_title_text='General Health'
)

fig.show()

In [54]:
df.groupby('GeneralHealth')['SleepHours'].mean()

GeneralHealth
Excellent    7.154124
Fair         6.877120
Good         6.987365
Poor         6.806651
Very good    7.082952
Name: SleepHours, dtype: float64

In [ ]:
mean_sleep = df.groupby('GeneralHealth')['SleepHours'].mean().reset_index()

plt.figure(figsize=(8,5))
sns.barplot(data=mean_sleep, x='GeneralHealth', y='SleepHours', hue='GeneralHealth', palette='Set2', legend=False)

plt.title('Average Sleep Hours by General Health')
plt.xlabel('General Health')
plt.ylabel('Average Sleep Hours')
plt.xticks(rotation=0)
plt.tight_layout()
plt.show()

In [55]:
pd.crosstab(df.HadStroke, df.AgeCategory, normalize='columns') * 100

AgeCategory,Early Middle Age (35-44),Elderly (70+),Late Middle Age (45-54),Seniors (55-69),Young Adults (18-34)
HadStroke,,,,,
0,98.588088,91.649034,97.142126,95.052995,99.4497
1,1.411912,8.350966,2.857874,4.947005,0.5503

In [ ]:
cross_tab = pd.crosstab(df['HadStroke'], df['AgeCategory'], normalize='columns') * 100
cross_tab_reset = cross_tab.reset_index().melt(id_vars='HadStroke', var_name='AgeCategory', value_name='Percentage')

fig = px.bar(
    cross_tab_reset,
    x='AgeCategory',
    y='Percentage',
    color='HadStroke',
    barmode='stack',
    title='Stroke Percentage by Age Category',
    text='Percentage',
    color_discrete_sequence=['#2E86AB', '#F4B400']
)

fig.update_traces(texttemplate='%{text:.1f}%', textposition='inside')
fig.update_layout(
    yaxis_title='Percentage (%)',
    xaxis_title='Age Category',
    plot_bgcolor='white',
    font=dict(size=14),
    xaxis_tickangle=45,
    legend_title_text='Had Stroke'
)

fig.show()

In [56]:
pd.crosstab(df.HadHeartAttack, df.AgeCategory, normalize='columns') * 100

AgeCategory,Early Middle Age (35-44),Elderly (70+),Late Middle Age (45-54),Seniors (55-69),Young Adults (18-34)
HadHeartAttack,,,,,
0,98.708998,88.424727,96.803862,93.523681,99.461828
1,1.291002,11.575273,3.196138,6.476319,0.538172

In [ ]:
cross_tab = pd.crosstab(df['HadHeartAttack'], df['AgeCategory'], normalize='columns') * 100
cross_tab_reset = cross_tab.reset_index().melt(id_vars='HadHeartAttack', var_name='AgeCategory', value_name='Percentage')

fig = px.bar(
    cross_tab_reset,
    x='AgeCategory',
    y='Percentage',
    color='HadHeartAttack',
    barmode='stack',
    title='Heart Attack Percentage by Age Category',
    text='Percentage',
    color_discrete_sequence=['#2E86AB', '#F4B400']
)

fig.update_traces(texttemplate='%{text:.1f}%', textposition='inside')
fig.update_layout(
    yaxis_title='Percentage (%)',
    xaxis_title='Age Category',
    plot_bgcolor='white',
    font=dict(size=14),
    xaxis_tickangle=45,
    legend_title_text='Had Heart Attack'
)

fig.show()

In [57]:
pd.crosstab(df.HadDiabetes, df.PhysicalActivities, normalize='columns') * 100

PhysicalActivities          0         1
HadDiabetes
0                   77.286942  88.89805
1                   22.713058  11.10195

In [ ]:
cross_tab = pd.crosstab(df['HadDiabetes'], df['PhysicalActivities'], normalize='columns') * 100
cross_tab_reset = cross_tab.reset_index().melt(id_vars='HadDiabetes', var_name='PhysicalActivities', value_name='Percentage')

fig = px.bar(
    cross_tab_reset,
    x='PhysicalActivities',
    y='Percentage',
    color='HadDiabetes',
    barmode='stack',
    title='Diabetes Percentage by Physical Activity (%)',
    text='Percentage',
    color_discrete_sequence=['#2E86AB', '#F4B400']
)

fig.update_traces(texttemplate='%{text:.1f}%', textposition='inside')
fig.update_layout(
    yaxis_title='Percentage (%)',
    xaxis_title='Physical Activities',
    plot_bgcolor='white',
    font=dict(size=14),
    xaxis_tickangle=0,
    legend_title_text='Had Diabetes'
)

fig.show()

In [58]:
df.groupby('HadDepressiveDisorder')['MentalHealthDays'].mean()

HadDepressiveDisorder
0     2.527009
1    11.049425
Name: MentalHealthDays, dtype: float64

In [ ]:
mean_mental = df.groupby('HadDepressiveDisorder')['MentalHealthDays'].mean().reset_index()

plt.figure(figsize=(6,5))
sns.barplot(data=mean_mental, x='HadDepressiveDisorder', y='MentalHealthDays', hue='HadDepressiveDisorder', palette='Set2', legend=False)

plt.title('Average Mental Health Days by Depressive Disorder')
plt.xlabel('Had Depressive Disorder')
plt.ylabel('Average Mental Health Days')

for i, val in enumerate(mean_mental['MentalHealthDays']):
    plt.text(i, val + 0.3, f'{val:.1f}', ha='center', fontsize=11)

plt.tight_layout()
plt.show()

In [59]:
pd.crosstab(df.HadKidneyDisease, df.HadDiabetes, normalize='columns') * 100

HadDiabetes               0          1
HadKidneyDisease
0                 96.776842  86.575463
1                  3.223158  13.424537

In [ ]:
cross_tab = pd.crosstab(df['HadKidneyDisease'], df['HadDiabetes'], normalize='columns') * 100
cross_tab_reset = cross_tab.reset_index().melt(id_vars='HadKidneyDisease', var_name='HadDiabetes', value_name='Percentage')

fig = px.bar(
    cross_tab_reset,
    x='HadDiabetes',
    y='Percentage',
    color='HadKidneyDisease',
    barmode='stack',
    title='Kidney Disease Percentage by Diabetes Status (%)',
    text='Percentage',
    color_discrete_sequence=['#2E86AB', '#F4B400']
)

fig.update_traces(texttemplate='%{text:.1f}%', textposition='inside')
fig.update_layout(
    yaxis_title='Percentage (%)',
    xaxis_title='Had Diabetes',
    plot_bgcolor='white',
    font=dict(size=14),
    xaxis_tickangle=0,
    legend_title_text='Had Kidney Disease'
)

fig.show()

In [60]:
df.groupby('HadArthritis')['PhysicalHealthDays'].mean()

HadArthritis
0    2.805972
1    7.040217
Name: PhysicalHealthDays, dtype: float64

In [ ]:
mean_physical = df.groupby('HadArthritis')['PhysicalHealthDays'].mean().reset_index()

plt.figure(figsize=(6,5))
sns.barplot(data=mean_physical, x='HadArthritis', y='PhysicalHealthDays', hue='HadArthritis', palette='Set2', legend=False)

plt.title('Average Physical Health Days by Arthritis Status')
plt.xlabel('Had Arthritis')
plt.ylabel('Average Physical Health Days')

for i, val in enumerate(mean_physical['PhysicalHealthDays']):
    plt.text(i, val + 0.3, f'{val:.1f}', ha='center', fontsize=11)

plt.tight_layout()
plt.show()